body {
    font-family: 'Times New Roman', Times, serif;

}

#student-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    text-align: left;
    margin-bottom: 20px;
    align-items: center;
    
}

#student-info h2 {
    margin-bottom: 15px;
    color: #0c005b;
}

#student-info p {
    margin: 6px 0;
    font-size: 16px;
}

#marks-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 95%;
    max-width: 700px;
    overflow-x: auto;
    margin-bottom: 20px;

}

.subject-table {
    width: 100%;
    border-collapse: collapse;
}

.subject-table th, .subject-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.subject-table th {
    background-color: #0c005b;
    color: white;
}

.subject-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#summary {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    text-align: left;
    font-size: 16px;
}

#summary p {
    margin: 10px 0;
}

@media (max-width: 600px) {
    #student-info, #marks-container, #summary {
        width: 95%;
    }
}
.container-center {
  padding: 30px; ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#student-info,
#marks-container,
#summary {
    width: 90%;
    max-width: 600px; /* same for all */
}

@media (max-width: 600px) {
    #student-info,
    #marks-container,
    #summary {
        width: 95%;
    }
}
